@import url('https://fonts.googleapis.com/css?family=Sora:380,670');

html, body, table, tr, td, tbody {
display: block;
}

div.template * {
margin: 0;
padding: 0;
max-width: 100%;
word-wrap: break-word;
}

body {
font-family: 'Sora', Arial, Helvetica, sans-serif;
-webkit-font-smoothing: antialiased;
color: #333;
}

div.template-container {
width: calc(90% - 20px);
padding: 10px;
margin: 0 auto;
}

div.colours {
display: block;
font-size: 0;
height: 7px;
}

div.colours div.colour {
width: 20%;
display: inline-block;
background: #333;
height: 7px;
animation-duration: 14s;
animation-iteration-count: infinite;
animation-direction: alternate;
}

div.colours div.colour:nth-of-type(1){
background: #1D3557;
animation-name: oneColour;
}
div.colours div.colour:nth-of-type(2){
background: #457B9D;
animation-name: twoColour;
}
div.colours div.colour:nth-of-type(3){
background: #A8DADC;
animation-name: threeColour;
}
div.colours div.colour:nth-of-type(4){
background: #F9A03F;
animation-name: fourColour;
}
div.colours div.colour:nth-of-type(5){
background: #F1FAEE;
animation-name: fiveColour;
}



div.other-buttons {
display: block;
}

a.question, a.follow {
padding: 10px 20px;
display: inline-block;
background: #A8DADC;
color: #fff;
font-size: 0.9em;
margin: 15px 0 0;
text-transform: uppercase;
text-decoration: none;
}

a.follow {
background: #a7db5c;
}

a.question:hover {
background: #20b29f;
}

a.follow:hover {
background: #7ea841;
}


@keyframes oneColour {
0% { background: #1D3557 }
25% { background: #457B9D }
50% { background: #A8DADC }
70% { background: #F9A03F }
100% { background: #F1FAEE }
}

@keyframes twoColour {
0% { background: #457B9D }
25% { background: #A8DADC }
50% { background: #F9A03F }
70% { background: #F1FAEE }
100% { background: #1D3557 }
}

@keyframes threeColour {
0% { background: #A8DADC }
25% { background: #F9A03F }
50% { background: #F1FAEE }
70% { background: #1D3557 }
100% { background: #457B9D }
}

@keyframes fourColour {
0% { background: #F9A03F }
25% { background: #F1FAEE }
50% { background: #1D3557 }
70% { background: #457B9D }
100% { background: #A8DADC }
}

@keyframes fiveColour {
0% { background: #F1FAEE }
25% { background: #1D3557 }
50% { background: #457B9D }
70% { background: #A8DADC }
100% { background: #F9A03F }
}



div.logo {
display: block;
text-align: center;
width: 100%;
font-size: 3em;
text-transform: uppercase;
padding: 60px 0 30px;
}

div.logo sup {
font-size: 0.5em;
border-bottom: 2px solid #eee;
}

div.logo img {
max-width: 70%;
padding: 1em;
}

div.logo.surf img {
max-width: 70%;
width: auto;
height: auto;
max-height: 80px;
padding: 0.25em 1em;
}




div.slogan {
text-transform: uppercase;
font-size: 0.9em;
text-align: center;
padding: 18px 0;
width: 100%;
display: block;
background: #1D3557;
color: #eceaea;
}

div.product {
font-size: 0;
padding: 50px 0;
}

div.product div.gallery, div.product div.info {
display: inline-block;
padding: 10px;
vertical-align: middle;
font-size: 16px;
}

div.product div.info {
width: calc(58% - 20px);
margin-left: 2%;
}

div.product div.gallery {
text-align: center;
width: calc(40% - 20px);
}

div.product div.gallery div.image {
height: 400px;
width: 400px;
border: 1px solid #eee;
padding: 5px;
margin: 10px auto 0;
display: none;
font-size: 0;
vertical-align: middle;
background: #f9f9f9;
border-radius: 3px;
}

div.product div.gallery div.image-caption {
text-transform: uppercase;
font-size: 0.9em;
text-align: center;
width: 400px;
padding: 10px 6px;
margin: 0 auto 10px;
display: block;
/* background: #333; */
color: #eceaea;
}

div.product div.gallery div.image:before {
content: ' ';
display: inline-block;
vertical-align: middle;
height: 100%;
}

div.product div.gallery div.thumbnail {
height: 60px;
width: 60px;
padding: 2px;
display: inline-block;
margin-right: 3px;
font-size: 0;
background:#f9f9f9;
border-radius:2px;
}

div.product div.gallery div.thumbnail:before {
content: ' ';
display: inline-block;
vertical-align: middle;
height: 100%;
}

div.product div.gallery div.thumbnail:last-child {
margin-right: 0;
}

label:hover {
bakground: #eee;
transition: 200ms linear all;
}

input:checked + label {
background: #eee;
}

div.product div.gallery label {
display: inline-block;
background: none;
padding: 5px;
color: #fff;
vertical-align: middle;
border: 1px solid #fff;
}

div.product div.gallery img {
max-width: 100%;
max-height: 100%;
vertical-align: middle;
display: inline-block;
}

div.product div.gallery label:hover {
border: 1px solid #457B9D;
transition: 200ms linear all;
}

div.product div.gallery input:checked + label {
background: #eee;
}

div.product div.info {
font-size: 18px;
}

div.product div.info h1 {
margin-bottom: 30px;
font-size: 1.6em;
text-transform: uppercase;
}

div.product div.info h4 {
margin-bottom: 10px;
}

div.product div.info p {
display: block;
margin-bottom: 10px;
}

div.product div.info ul {
padding-left: 25px;
list-style-type: square;
}

div.payment {
text-align: center;
background: #fff;
border-bottom: 1px solid #fff;
}

div.payment h2 {
text-transform: uppercase;
color: #666;
padding-top: 60px;
font-size: 1.2em;
}

div.payment img {
max-width: 80px;
padding: 40px 20px 0;
}

div.template input {
display: none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
transition: 150ms linear all;
display: block;
}

#img1:checked ~ #show1,
#img2:checked ~ #show2,
#img3:checked ~ #show3,
#img4:checked ~ #show4,
#img5:checked ~ #show5,
#img6:checked ~ #show6,
#img7:checked ~ #show7,
#img8:checked ~ #show8,
#img9:checked ~ #show9,
#img10:checked ~ #show10,
#img11:checked ~ #show11,
#img12:checked ~ #show12
{
display: block;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
transition: 150ms linear all;
display: block;
}

section {
display: none;
background: #f9f9f9;
margin: 20px 0;
padding: 40px;
border-top: 1px solid #ddd;
height: 250px;
overflow-y: scroll;
}

section p {
margin: 0 0 10px;
}

div.template-container.tabs label {
padding: 10px;
border-radius: 2px;
-webkit-border-radius: 2px;
}

div.template-container.tabs section {
padding: 10px;
}

div.template-container.tabs label {
padding: 10px;
display: inline-block;
}

input:checked + label:nth-of-type(1) {
background: #457B9D;
color: #fff;
}

input:checked + label:nth-of-type(2) {
background: #A8DADC;
}

input:checked + label:nth-of-type(3) {
background: #F9A03F;
}

input:checked + label:nth-of-type(4) {
background: #a8db5f;
}

footer {
background: #333;
padding: 60px 0;
width: 100%;
display: block;
margin: 70px 0 0;
}

footer div.template-container-fifth {
width: 20%;
display: inline-block;
vertical-align: top;
color: #666;
}

footer nav {
margin: 0;
padding: 0;
}

footer nav a {
display: block;
text-align: left;
padding: 2px;
text-decoration: none;
color: #888;
}

footer nav a:hover {
background: none;
color: #fff;
}

footer ul {
list-style-type: none;
margin: 0;
padding: 0;
}

footer ul li {
margin: 0;
padding: 0;
}

span.icon {
height: 1.15em;
width: 1.15em;
margin-right: 7px;
margin-bottom: -3px;
display: inline-block;
background-repeat: no-repeat;
}


div.main.inverse {
color: #fff;
background: #444;
}


div.main.inverse div.gallery div.image {
border: 1px solid #111;
}

div.main.inverse section {
background: #222;
border: none;
}

div.main.inverse div.payment {
background: none;
border-bottom: none;
color: #fff;
}

div.main.inverse div.payment h2 {
color: #fff;
}

@media screen and (max-width: 650px) {

div.logo {
padding: 20px 0 10px;
}

div.logo img {
max-width: 90%;
padding: 1em 0.5em;
}

div.product div.gallery, div.product div.info {
width: 100%;
display: block;
max-width: 100%;
padding: 0;
}

div.product div.gallery div.image {
padding: 0;
}

div.product div.gallery div.image-caption {
width: 100%;
padding: 10px 1;
}

div.product div.gallery div.thumbnail {
width: 52px;
height: 52px;
margin: 0;
padding: 0;
}

div.product div.info {
margin: 25px 0 0;
}

div.product div.info h1 {
text-align: center;
}

div.template-container.tabs {
text-align: center;
}

div.product div.gallery div.image img {
max-width: 100%;
}

footer {
padding: 0;
}

footer div.template-container-fifth {
width: calc(100% - 30px);
padding: 15px;
}
}