<meta name="viewport" content="width=device-width,
initial-scale=1">
<link rel="stylesheet" href="{{WEBSITE_PUBLIC_URL}}/css/style1.css">
<div class="main">
<div class="colours">
<div class="colour"></div>
<div class="colour"></div>
<div class="colour"></div>
<div class="colour"></div>
<div class="colour"></div>
</div>
<div class="template">
<div class="logo">
{{STORE_NAME}}
</div>
<div class="slogan">
{{SLOGAN}}
</div>
<div class="product template-container">
<div class="gallery">
<input id="img1" type="radio" name="img"
checked>
<input id="img2" type="radio" name="img">
<input id="img3" type="radio" name="img">
<input id="img4" type="radio" name="img">
<input id="img5" type="radio" name="img">
<div class="image" id="show1">
<img src="https://i.ebayimg.com/images/g/orcAAOSwVsFhjU6x/s-l1600.jpg">
</div>
<div class="image" id="show2">
<img src="https://i.ebayimg.com/images/g/MG0AAOSw~6phjU7B/s-l1600.jpg">
</div>
<div class="image" id="show3">
<img src="https://i.ebayimg.com/images/g/wBkAAOSwKmZhjU7R/s-l1600.jpg">
</div>
<div class="image" id="show4">
<img src="https://i.ebayimg.com/images/g/fD0AAOSwKkhhjU7d/s-l1600.jpg">
</div>
<div class="image" id="show5">
<img src="https://i.ebayimg.com/images/g/plsAAOSwKKhhjU7r/s-l1600.jpg">
</div>
<div class="image-caption">
</div>
<label for="img1">
<div class="thumbnail">
<img src="https://i.ebayimg.com/images/g/orcAAOSwVsFhjU6x/s-l1600.jpg">
</div>
</label>
<label for="img2">
<div class="thumbnail">
<img src="https://i.ebayimg.com/images/g/MG0AAOSw~6phjU7B/s-l1600.jpg">
</div>
</label>
<label for="img3">
<div class="thumbnail">
<img src="https://i.ebayimg.com/images/g/wBkAAOSwKmZhjU7R/s-l1600.jpg">
</div>
</label>
<label for="img4">
<div class="thumbnail">
<img src="https://i.ebayimg.com/images/g/fD0AAOSwKkhhjU7d/s-l1600.jpg">
</div>
</label>
<label for="img5">
<div class="thumbnail">
<img src="https://i.ebayimg.com/images/g/plsAAOSwKKhhjU7r/s-l1600.jpg">
</div>
</label>
</div>
<div class="info">
<h1>{{ANNOUNCE_TITLE}}</h1>
<div id="product-description">
<p>Perfect working condition. Any question? Contact me!</p>
<p>--</p>
<p>Marche parfaitement. N'h&eacute;sitez pas &agrave; me contacter si vous avez des questions !</p>
</div>
</div>
</div>
<div class="template-container tabs">
<input id="tab1" type="radio" name="tabs"
checked>
<label for="tab1">
Delivery
</label>
<input id="tab2" type="radio" name="tabs">
<label for="tab2">
Returns
</label>
<input id="tab3" type="radio" name="tabs">
<label for="tab3">
Terms
</label>
<section id="content1">
<p>
<div>A tracking number available once the package is sent.</div>
<div>Remember&nbsp;<strong>I'm a private seller, not a company</strong>. I occasionally buy and sell random articles on eBay, and although I do my best, I can make mistakes occasionally and I'm not always as available as I would like. Please contact me before buying if you need fast shipping.</div>
<div>---</div>
<div>J'envoie g&eacute;n&eacute;ralement le num&eacute;ro de suivi du colis.</div>
<div>Merci de prendre en compte le fait que&nbsp;<strong>je suis un vendeur particulier, et non une boutique en ligne</strong>. J'ach&egrave;te et je vends occasionnellement sur eBay et, malgr&eacute; ma volont&eacute;, il est probable que je fasse des erreurs et que je ne sois pas toujours rapidement disponible. Si vous &ecirc;tes particuli&egrave;rement press&eacute; de recevoir votre commande, je ferai au mieux mais merci de me l'indiquer avant de commander.</div>
</p>
</section>
<section id="content2">
<p>
<p>I accept Bank transfer in Europe (SEPA) as well as PayPal.</p>
<p>Want to cancel your purchase? Please contact me before I send the package so we may come to an amicable agreement.</p>
<p>---</p>
<p>J'accepte les virements bancaires ainsi que PayPal.</p>
<p>Si vous avez besoin d'annuler votre commande pour quelque raison que ce soit, merci de m'en tenir inform&eacute; au plus vite, si possible avant que j'envoie l'article, pour que nous puissions trouver un arrangement.</p>
</p>
</section>
<section id="content3">
<p>
<p>Please contact me under 14 days from the day you receive the package.&nbsp;<strong>Return fees are at your expense</strong>.</p>
<p>Note that&nbsp;<strong>PayPal may refund your return fees</strong>&nbsp;up to 12 times a year, depending on your home country. Check on Google "PayPal return shipping refund" :)</p>
<p>---</p>
<p>Merci de me contacter sous 14 jours &agrave; compter de la r&eacute;ception de l'article.&nbsp;<strong>Les frais de retour sont &agrave; votre charge</strong>.</p>
<p>Sachez qu'en France m&eacute;tropolitaine, PayPal&nbsp;<strong>peut vous rembourser les frais de retour</strong>&nbsp;jusqu'&agrave; 12 fois dans l'ann&eacute;e. Cherchez sur Google: "Garantie remboursement PayPal retours gratuits" :)</p>
</p>
</section>
</div>
<div class="colours">
<div class="colour"></div>
<div class="colour"></div>
<div class="colour"></div>
<div class="colour"></div>
<div class="colour"></div>
</div>
<div class="payment" style="padding-bottom: 3em">
<h2>Accepted payment methods</h2>
<img src="https://merinorus.github.io/ebay-announce-template/img/sepa.png" alt="SEPA">
<img src="https://merinorus.github.io/ebay-announce-template/img/paypal.svg" alt="PayPal">
</div>
</div>
</div>